@inherits LayoutComponentBase

<nav>
    <ul>
        <li id="menu-home" @onclick=@(() => ScrollToSection("section1")) class="@(CurrentSection == "section0" ? "active" : "")">Inicio</li>
        <li id="menu-special" @onclick=@(() => ScrollToSection("section4")) class="@(CurrentSection == "section4" ? "active" : "")">Historia</li>@* 
        <li id="menu-special" @onclick=@(() => ScrollToSection("section5")) class="@(CurrentSection == "section4" ? "active" : "")">Collage</li> *@
        <li id="menu-artist" @onclick=@(() => ScrollToSection("section5")) class="@(CurrentSection == "section5" ? "active" : "")">Galeria</li>
        <li id="menu-gallery" @onclick=@(() => ScrollToSection("section3")) class="@(CurrentSection == "section3" ? "active" : "")">Contacto</li>
    </ul>
</nav>


<div class="page">
    <main>
        <!-- Aquí se incluirán todas las secciones de la página -->
        @Body
    </main>
</div>

@inject IJSRuntime JSRuntime;

@code {
    private string CurrentSection = "section1"; // Por defecto, la sección activa es "Inicio"

    // Método para desplazarse a una sección específica
    private async Task ScrollToSection(string sectionId)
    {
        CurrentSection = sectionId;

        // Usar JS interop para hacer scroll a la sección
        await JSRuntime.InvokeVoidAsync("scrollToSection", sectionId);

        StateHasChanged();
    }
}
