@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using Microsoft.Extensions.Localization
@using Tattoo.InkVibesTattoo.Components.Dialogs
@using Tattoo.InkVibesTattoo.Components.Layout
@using Tattoo.InkVibesTattoo.Helpers
@using Tattoo.InkVibesTattoo.Models.Forms
@using Tattoo.InkVibesTattoo.Security
@* @inject IStringLocalizer<Tattoo.InkVibesTattoo.Resources.Resource> Localizer *@
@inject LocalizationService LocalizationService

@inherits LayoutComponentBase

@* <RadzenContextMenu /> *@
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<BSCore />
<NotranslateDirective>
    @if (!hasSeenInitView)
    {
        <RadzenStack class="w-100">
            <div class="init-view">
                <div class="logo-container">
                    <img src="css/images/InitView.svg" alt="InitView" class="logo" />
                </div>
                <div class="slide-in-blurred-bottom">
                    <h2>@LocalizationService.GetString("InitViewTitle")</h2>
                    <button @onclick="NavigateToMain" class="start-button pulsate-bck">@LocalizationService.GetString("InitViewButton")</button>
                    <p class="policy-note">
                        @LocalizationService.GetString("PolicyNote")
                    </p>
                </div>
            </div>
        </RadzenStack>
    }
    else
    {
        <div class="main-layout">
            <div class="menu desktop-only">
                <div class="social-links desktop-only">
                    <a href="@stateService.GlobalphoneFacebook.ValueDescription" target="_blank"><img src="css/images/facebook-new.png" alt="Facebook" /></a>
                   @*  <a href="@stateService.GlobaltiktokInstagram.Value" target="_blank"><img src="css/images/tiktok.png" alt="TikTok" /></a>
                    <a href="@stateService.GlobaltiktokInstagram.ValueDescription" target="_blank"><img src="css/images/instagram-new.png" alt="Instagram" /></a> *@
                    <a href=@($"tel:{stateService.GlobalphoneFacebook.Value}") class="button button-icon"><img src="css/images/phone.png" alt="Phone Icon" /></a>
                </div>
                <nav class="desktop-only">
                    <ul>
                        <li id="menu-home" @onclick=@(() => ScrollToSection("section0"))>@LocalizationService.GetString("Home")</li>
                        <li id="menu-artist" @onclick=@(() => ScrollToSection("section2"))>@LocalizationService.GetString("Artist")</li>
                        <li id="menu-gallery" @onclick=@(() => ScrollToSection("section3"))>@LocalizationService.GetString("Gallery")</li>
                        <li id="menu-contact" @onclick=@(() => ScrollToSection("section4"))>@LocalizationService.GetString("Contact")</li>
                        <li id="menu-faq" @onclick=@(() => ScrollToSection("section5"))>@LocalizationService.GetString("FAQ")</li>
                    </ul>
                </nav>
                <RadzenStack class="stack-book-now desktop-only">
                    <RadzenButton class="w-80 book-now-layout pulsate-bck desktop-only" ButtonStyle="ButtonStyle.Light" Variant="Variant.Outlined" Text="@LocalizationService.GetString("BookNow")" Click="OnClickBookNow" />
                </RadzenStack>
            </div>
            <div class="mobile-only">
                <RadzenRow class="header-sidebarlayout mobile-only">
                    <RadzenColumn Size="2">
                        <RadzenStack class="mobile-only" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                            <RadzenSidebarToggle class="mobile-only" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="mobile-only">
                        <RadzenStack class="stack-book-now mobile-only" Style="align-items:center!important;">
                            <RadzenButton class="mobile-only w-80 book-now-layout pulsate-bck" ButtonStyle="ButtonStyle.Light" Variant="Variant.Outlined" Text="@LocalizationService.GetString("BookNow")" Click="OnClickBookNow" />
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenColumn Size="2" class="mobile-only">
                        <RadzenStack class="stack-book-now mobile-only">
                            <div class="social-links mobile-only">
                                <a href=@($"tel:{stateService.GlobalphoneFacebook.Value}") class="button button-icon"><img src="css/images/phone.png" alt="Phone Icon" /></a>
                            </div>
                        </RadzenStack>
                    </RadzenColumn>
                </RadzenRow>
            </div>
            <RadzenSidebar class="mobile-only" Responsive="false" @bind-Expanded="@sidebarExpanded" style=" z-index: 3">
                <RadzenStack AlignItems="AlignItems.End" Class="rz-p-2 mobile-only">
                    <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => sidebarExpanded = false)" />
                </RadzenStack>
                <RadzenPanelMenu class="mobile-only">
                    <RadzenPanelMenuItem Text="@LocalizationService.GetString("Home")" Click=@(() => {ScrollToSection("section0");sidebarExpanded=false; }) Icon="home" />
                    <RadzenPanelMenuItem Text="@LocalizationService.GetString("Artist")" Click=@(() => {ScrollToSection("section2");sidebarExpanded=false; }) Icon="sentiment_satisfied_alt" />
                    <RadzenPanelMenuItem Text="@LocalizationService.GetString("Gallery")" Click=@(() => {ScrollToSection("section3");sidebarExpanded=false; }) Icon="collections" />
                    <RadzenPanelMenuItem Text="@LocalizationService.GetString("Contact")" Click=@(() => {ScrollToSection("section4");sidebarExpanded=false; }) Icon="dashboard" />
                    <RadzenPanelMenuItem Text="@LocalizationService.GetString("FAQ")" Click=@(() => {ScrollToSection("section5");sidebarExpanded=false; }) Icon="question_answer" />
                </RadzenPanelMenu>
            </RadzenSidebar>
            <div class="content">
                @Body
            </div>
        </div>
    }
    }
    <Tattoo.InkVibesTattoo.Pages.CookieConcent />

</NotranslateDirective>


